body{
    max-width: 100%;
    padding: 0;
    margin: auto;
    font-size: 100%;
}
#content{
    max-width: 1440px;
    margin: 0 auto;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 98;
}
header .contact-links{
    background: rgb(221, 228, 241);
    height: 35px;
    margin-top: -16px;
    color: rgb(110, 104, 104);
    font-family: verdana;
    font-size: 14px;
}
header .contact-links ul li{
    list-style: none;
}
header .contact-links .social-media li{
    float: left;
    padding: 10px;
}
header .contact-links .social-media li a{
    color: rgb(110, 104, 104);
}
header .contact-links .contact-list li{
    float: right;
    padding: 10px;
}
header .contact-links .contact-list li a{
    text-decoration-line: none;
    color: rgb(110, 104, 104);
}
header .nav{
    background: rgb(192, 209, 241);
    margin-top: -16px;
    height: 55px;
    max-width: 100%;    
}
/*large nav styles*/
header .nav ul li{
    list-style: none;
    display: inline-flex;
    margin-top: -30px;
    font-family: verdana;
    color: rgb(83, 78, 78);
}
header .nav img{
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
header .nav ul li h1{
    padding-right: 500px;
    padding-top: 15px;
}
header .nav ul li a{
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    color: rgb(66, 64, 64);
    font-weight: 550;
}
header .nav ul li a:hover{
    text-decoration: underline;
}
header .nav .drop-nav{
    display: none;
}
/*large nav styles end*/
/*drop nav styles*/
/* header .nav .drop-nav{
    display: flex;
    /* flex-flow: row nowrap; */
   /* align-items: center;
    
} */
header .nav .drop-nav li{
    padding: 10px;
    text-align: left;
}
header .nav .drop-nav .drop{
    /* float: right; */
    margin: 1% 0 0 90%;
}
header .nav .drop-nav .drop-content{
    position: absolute;
    display: flex;
    flex-flow: column;
    top: 0;
    left: -400px;
    font-weight: 500;
    height: 720px;
    width: 350px;
    padding: 50px 20px;
    z-index: 100;
    color: #fff;
    background: rgba(34, 34, 34, 0.95);
    font-size: 16px;
    transition: all 0.6s ease;
}
#maindrop{
    width: 105%;
    height: 800px;
    margin-left: -5%;
    margin-top: -10%;
}
.showdrop{
    transform: translateX(400px);
}
.opacity-style{
    background: rgba(116, 114, 114, 0.5);
}
header .nav .drop-nav .drop-content p{
    margin-left: 20px;
}
header .nav .drop-nav .drop-content a{
    /* display: block; */
    padding: 20px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}
header .nav .drop-nav .drop-content a:hover{
    text-decoration: underline;
}
header .nav .drop-nav .dropbt:focus, .dropbt:hover{
    cursor: pointer;
    color: #222;
}
header .down{
    margin-top: auto;
}
section .head{
    /* height: 400px; */
    /* margin-top: -3.8%; */
    background: url('../img/about.png'); 
    background-size: 100%;
    background-repeat: no-repeat;
}
section .head h1{
    padding: 7% 0 20% 10%;
    color: rgb(39, 38, 38);
    font-family: calibri;
    font-size: 60px;
}
section .welcome{
    margin: 7% 8%;
}
section .welcome img{
    width: 50%;
    height: 500px;
    float: left;
}
section .welcome .welcome-message{
    padding: 2% 5%;
    margin-left: 50%;
    font-family: calibri;
    color: rgb(39, 38, 38);
    font-size: 18px;
}
section .welcome .welcome-message pre{
    font-family: calibri;
}
section .patients{
    margin: 5% 8% 13%;
    color: rgb(39, 38, 38);
    font-family: calibri;
    font-size: 18px;
}
section .patients h1{
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 5%;
    font-size: 40px;
}
section .patients .testimonies .each-testimony img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
section .patients .testimonies .each-testimony{
    display: block;
    width: 40%;
}
section .patients .appointment{
    float: right;
    width: 40%;
    margin-top: -55%;
    background: rgb(192, 209, 241);
    padding: 1% 2%;
}
section .patients .appointment h2{
    text-transform: uppercase;
}
section .patients .appointment form fieldset{
    margin: 5px 5px;
}
section .patients .appointment form fieldset ul li{
    padding: 5px 5px;
    list-style: none;
}
section .patients .appointment form input[type="submit"]{
    height: 30px;
    background: rgb(52, 72, 114);
    border: 1px solid rgb(52, 72, 114);
    color: #fff;
    margin: 10px 10px;
}
/* section{
    height: 2100px;
} */
footer{
    font-family: calibri;
    color: #fff;
    /* height: 400px; */
    margin-top: 20px;
    padding-top: 7%;
    background: rgb(29, 30, 37);
}
footer .subscribe{
    margin-left: 15%;
}
footer .subscribe p{
    font-size: 20px;
    padding-left: 2%;
}
footer .subscribe input[type="email"]{
    width: 200px;
    height: 30px;
    margin-top: -1%;
}
footer .subscribe input[type="submit"]{
    height: 30px;
    background: rgb(52, 72, 114);
    border: 1px solid rgb(52, 72, 114);
    color: #fff;
}
footer .subscribe input[type="submit"]:hover{
    cursor: pointer;
}
footer .contacts{
    float: right;
    margin-top: -17%;
    margin-right: 15%;
}
footer .contacts ul li{
    list-style: none;
    padding: 15px;
    font-size: 20px;
}
footer .contacts ul li a{
    text-decoration: none;
    color: #fff;
}
footer .contacts ul li a:hover{
    text-decoration: underline;
}
footer .copy{
    margin: 5% 25% 0;
    padding-bottom: 2%;
    font-size: 18px;
    text-align: center;
}
/*max of 1024px*/
@media screen and (max-width: 1024px){
    body{
        font-size: 80%;
    }
    header .nav ul li h1{
        padding-right: 150px;
    }
    section .patients .appointment{
        width: 50%;
        margin-top: -80%;
    }
    footer .flex{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    footer .subscribe input[type="submit"]{
        margin-top: 10px;
    }
    footer .contacts{
        float: none;
        margin-top: -20px;
        /* margin-right: 0; */
    }
    footer .copy{
        margin-left: 20%;
    }
}
/*max of 900px*/
@media screen and (max-width: 900px){
    header .contact-links{
        display: none;
    }
    header .nav .large-nav{
        display: none;
    }
    header .nav .drop-nav{
        display: block;
    }
    section .patients .appointment{
        width: 50%;
        margin-top: -85%;
    }
    footer .copy{
        margin-left: 15%;
    }
}
@media screen and (max-width: 780px){
    header .nav .drop-nav .drop-content a,.nav .drop-nav .drop-content{
        font-size: 12px
    }
    header .nav .drop-nav .drop{
        margin-top: 0.5%;
    }
    section .patients{
        margin-left: 10%;
    }
    section .patients .testimonies .each-testimony{
        width: 80%;
    }
    section .patients .appointment{
        float: none;
        width: 80%;
        margin-top: 0;
    }
    footer .copy{
        margin-left: 10%;
    }
}
@media screen and (max-width:   730px){
    header .nav .drop-nav .drop{
        margin-top: 0.2%;
    }
    footer .copy{
        margin-left: 7%;
    }
}
@media screen and (max-width: 661px){
    header .nav .drop-nav .drop{
        margin-top: -1%;
    }
    section .head h1{
        font-size: 35px;
        padding-bottom: 50%;
    }
    section .patients h1{
        font-size: 30px;
    }   
    section .welcome img{
        width: 60%;
        height: 300px;
        margin-left: 20%;
    }
    section .welcome .welcome-message{
        clear: both;
        margin-left: 0;
    }
    /* section .appointment button{
        margin-left: 10%;
    } */
}
@media screen and (max-width: 600px){
    header .nav .drop-nav .drop{
        margin-top: -1.2%;
    }
    footer .copy{
        margin-left: 2%;
    }
}
@media screen and (max-width: 560px){
    header .nav .drop-nav .drop{
        margin: -1.5% 0 0 85%;
    }
    footer .subscribe{
        margin-left: 7%;
    }
}
@media screen and (max-width: 500px){
    header .nav .drop-nav .drop{
        margin: -3% 0 0 83%;
    }
    footer .subscribe{
        margin-left: 3%;
    }
    footer .contacts{
        margin-left: -5%;
    }
}
@media screen and (max-width: 430px){
    header .nav .drop-nav .drop{
        margin: -7% 0 0 85%;
    }
    footer .flex{
        display: flex;
        flex-flow: column;
    }
    footer .copy{
        margin-left: 10%;
    }
}
@media screen and (max-width: 375px){
    header .nav .drop-nav h1{
        font-size: 22px;
    }
    header .nav .drop-nav .drop{
        margin: -7% 0 0 80%;
    }
}
@media screen and (max-width: 320px){
    header .nav .drop-nav .drop{
        margin: -10% 0 0 80%;
    }
    header .nav .drop-nav{
        margin-left: -10%;
        display: inline;
    }
    header .nav .drop-nav .logo{
        padding-top: 15px;
    }
    header .nav .drop-nav .drop-content a,.nav .drop-nav .drop-content p{
        font-size: 10px
    }
}