section .blog{
    text-align: center;
    font-family: calibri;
    color: rgb(39, 38, 38);
    /* height: 1300px; */
    margin: 5%;
    padding-top: 1%;
    background: #fff;
}
section .blog .blog-post{
    /* display: inline-block; */
    width: 30%;
    /* margin: 0 1%; */
}
section .blog .blog-post img{
    width: 100%;
}
section .flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
section .blog .blog-post:hover{
    box-shadow: 0 0 5px 0.5px rgb(39, 38, 38);
}
section .blog .blogpost p{
    color: rgb(39, 38, 38);
    font-family: calibri;
}
section .blog .blog-post p i{
    color: rgb(106, 136, 194);
}
section .blog .blog-post p a{
    text-decoration: none;
    color: rgb(106, 136, 194);
}
section .blog .blog-post a:hover{
    text-decoration: underline;
}
section .blog h1{
    font-size: 40px;
}
@media screen and (max-width: 661px){
    section .blog h1{
        font-size: 30px;
    }
}