section .depts{
    text-align: center;
    font-family: calibri;
    color: rgb(39, 38, 38);
    /* height: 970px; */
    margin: 5%;
    padding-top: 1%;
    background: rgb(252, 251, 251);
}
section .depts h1{
    font-size: 40px;
}
section .depts .dept-list{
    /* display: inline-block; */
    width: 30%;
    /* margin: 0 1%; */
}
section .depts .dept-list img{
    width: 100%;
}
section .flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
section .depts .dept-list a{
    text-decoration: none;
    color: rgb(39, 38, 38);
}
section .depts .dept-list:hover{
    box-shadow: 0 0 5px 0.5px rgb(39, 38, 38);
}
@media screen and (max-width: 661px){
    section .depts h1{
        font-size: 30px;
    }
}