section .specialists{
    text-align: center;
    font-family: calibri;
    color: rgb(39, 38, 38);
    /* height: 1500px; */
    margin: 5%;
    padding-top: 1%;
    background: #fff;
}
section .specialists h1{
    font-size: 40px;
}
section .specialists .doctors{
    /* display: inline-block; */
    width: 21%;
}
section .flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
section .specialists .doctors img{
    width: 100%;
}
section .specialists .doctors a{
    text-decoration: none;
    color: rgb(39, 38, 38);
}
section .specialists .doctors:hover{
    box-shadow: 0 0 5px 0.5px rgb(39, 38, 38);
}
section .specialists .doctors i{
    color: rgb(39, 38, 38);
    padding: 15px;
}
@media screen and (max-width: 661px){
    section .specialists h1{
        font-size: 30px;
    }
}