body{
    max-height: auto;
    max-width: 100%;
    padding: 0;
    margin: auto;
}
header .contact-links{
    background: rgb(221, 228, 241);
    height: 35px;
    margin-top: -16px;
    color: rgb(110, 104, 104);
    font-family: verdana;
    font-size: 14px;
}
header .contact-links ul li{
    list-style: none;
}
header .contact-links .social-media li{
    float: left;
    padding: 10px;
}
header .contact-links .social-media li a{
    color: rgb(110, 104, 104);
}
header .contact-links .contact-list li{
    float: right;
    padding: 10px;
}
header .contact-links .contact-list li a{
    text-decoration-line: none;
    color: rgb(110, 104, 104);
}
header .nav{
    background: rgb(192, 209, 241);
    margin-top: -16px;
    height: 70px;
}
header .nav ul li{
    list-style: none;
    display: inline-flex;
    margin-top: -30px;
    font-family: verdana;
    color: rgb(83, 78, 78);
}
header .nav img{
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
header .nav ul li h1{
    padding-right: 500px;
    padding-top: 15px;
}
header .nav ul li a{
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    color: rgb(66, 64, 64);
    font-weight: 550;
}
header .nav ul li a:hover{
    text-decoration: underline;
}
section .head{
    height: 400px;
    margin-top: -3.8%;
}
section .head h1{
    padding: 7% 10%;
    color: rgb(39, 38, 38);
    font-family: calibri;
    font-size: 60px;
}
section .about{
    margin: 5% 8%;
    color: rgb(39, 38, 38);
    font-family: calibri;
    font-size: 20px;
    height: 700px;
}
section .about h1{
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 5%;
    font-size: 40px;
}
section .about img{
    width: 50%;
    height: 500px;
    float: left;
}
section .about p{
    padding-top: 2%;
    padding-left: 52%;
}
section .appointment{
    width: 40%;
    margin: 5% 30%;
    background: rgb(192, 209, 241);
    padding: 1% 2%;
}
section .appointment h2{
    text-transform: uppercase;
}
section .appointment form fieldset{
    margin: 5px 5px;
}
section .appointment form fieldset ul li{
    padding: 5px 5px;
    list-style: none;
}
section .appointment form input[type="submit"]{
    height: 30px;
    background: rgb(52, 72, 114);
    border: 1px solid rgb(52, 72, 114);
    color: #fff;
    margin: 10px 
}
footer{
    font-family: calibri;
    color: #fff;
    height: 400px;
    margin-top: 10%;
    padding-top: 7%;
    background: rgb(29, 30, 37);
}
footer .subscribe{
    margin-left: 15%;
}
footer .subscribe p{
    font-size: 20px;
    padding-left: 2%;
}
footer .subscribe input[type="email"]{
    width: 200px;
    height: 30px;
    margin-top: -1%;
}
footer .subscribe input[type="submit"]{
    height: 30px;
    background: rgb(52, 72, 114);
    border: 1px solid rgb(52, 72, 114);
    color: #fff;
}
footer .subscribe input[type="submit"]:hover{
    cursor: pointer;
}
footer .contacts{
    float: right;
    margin-top: -17%;
    margin-right: 15%;
}
footer .contacts ul li{
    list-style: none;
    padding: 15px;
    font-size: 20px;
}
footer .contacts ul li a{
    text-decoration: none;
    color: #fff;
}
footer .contacts ul li a:hover{
    text-decoration: underline;
}
footer .copy{
    margin-left: 25%;
    margin-top: 5%;
    font-size: 18px;
}