section .about{
    margin: 5% 8% 25%;
    color: rgb(39, 38, 38);
    font-family: calibri;
    font-size: 20px;
    /* height: 700px; */
}
section .about h1{
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 5%;
    font-size: 40px;
}
section .about img{
    width: 50%;
    height: 500px;
    float: left;
}
section .about p{
    padding-top: 2%;
    padding-left: 52%;
}
section .appointment{
    width: 40%;
    margin: 5% 30%;
    background: rgb(192, 209, 241);
    padding: 1% 2%;
}
section .appointment h2{
    text-transform: uppercase;
}
section .appointment form fieldset{
    margin: 5px 5px;
}
section .appointment form fieldset ul li{
    padding: 5px 5px;
    list-style: none;
}
section .appointment form input[type="submit"]{
    height: 30px;
    background: rgb(52, 72, 114);
    border: 1px solid rgb(52, 72, 114);
    color: #fff;
    margin: 10px 
}
section .contact-us .leave-message form textarea{
    width: 95%;
}
@media screen and (max-width: 780px){
    section .appointment{
        width: 60%;
        margin-left: 20%;
    }  
}
@media screen and (max-width: 661px){
    section .about{
        margin-bottom: 10%;
    }
    section .about h1{
        font-size: 30px;
    }
    section .about img{
        width: 100%;
    }
    section .about p{
        padding-top: 5%;
        padding-left: 2%;
        clear: both;
    }
    section .appointment{
        width: 80%;
        margin-left: 10%;
    }
}